@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment            
        - Color
        - Size


--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 - GENERIC 
-------------------------------------------------------------- */
* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:focus {
	outline: none;
}


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */
/* -- TYPOGRAPHY -- */



/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */
/* -- FRAMEWORK -- */
.wrapper {
	margin: 0 auto;
	width: 1170px;
}

.row {
	overflow: auto;
}


/*--------------------------------------------------------------
6.0 - COMPONENTS 
-------------------------------------------------------------- */



/*--------------------------------------------------------------
7.0 - UTILITIES
-------------------------------------------------------------- */


/*UNIVERSAL*/

/*HOME PAGE*/
.row > header, .col-1-2, .col-1-3, #about > .wrapper nav {
	float: left;
}

section nav, .col-1-2:last-child, .col-1-3:last-child, #about > .wrapper .row > div {
	float: right;
}

a {
	text-decoration: none;
}

section nav li, section nav a, footer li, footer a {
	display: inline-block;
}

h1, footer span {
	display: none;
}

a, br + span {
	text-transform: uppercase;
}

#home > section p:nth-child(2) {
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 42px;
	font-style: italic;
	text-transform: lowercase;
	margin: 50px 0 25px;
}

#home > section > .wrapper p {
	color: #fff;
}

#home > section span, #about > section p, #action > section p {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 85px;
	letter-spacing: -2px;
	display: block;
}

#home > section span {
	margin-top: -2px;
}

.btn-grn {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	padding: 3px 15px;
	background-color: #36B3AC;
	color: #fff;	
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	font-size: 14px;
}

.btn-grn:hover {
	background-color: #1F1F1F;
}

#home > section {
	background-image: url("../img/bg-home.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -320px;
	height: 520px;
}

#home > section header, #about > section header, #action > section header {
	background-image: url("../img/logo-bedford.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 20px;
	width: 180px;
	height: 130px;
}

section nav {
	margin-top: 20px;
}

section nav a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
}

section nav li:last-child a {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #fff;
	padding: 4px 10px 3px;
}

section nav li:nth-child(2) a, section nav li:last-child a {
	margin-left: 10px;
}

section nav a:hover {
	color: #1F1F1F;
}

section nav li:last-child a:hover {
	background-color: #fff;
}

#home, #action {
	text-align: center;
}

#home .wrapper > section, #about h2, #action h2 {
	font-family: 'EB Garamond', serif;
}

#home .wrapper > section, #action h2 {
	margin: 90px 0 120px;
}
	
#home .wrapper > section, h2 {
	font-weight: 400;
}

h2 {
	font-size: 30px;
}

#home .wrapper > section div {
	width: 600px;
	margin: 40px auto 10px;
}

#home .wrapper > section p {
	font-size: 17px;
	line-height: 25px;
}

#home .wrapper > section footer {
	font-style: italic;
	font-size: 17px;
}

#home .wrapper > section span {
	color: #36B3AC;
}

.col-1-2 {
	width: 520px;
}

.col-1-2 div:first-child {
	height: 300px;
	background-size: cover;
	repeat: none;
}

.col-1-2:first-child div:first-child {
	background-image: url("../img/bg-about.jpeg");
}

.col-1-2:last-child div:first-child {
	background-image: url("../img/bg-action.jpg");
}

.col-1-2 div:first-child p {
	display: none;
}

.col-1-2 header {
	margin: 30px 0;
}

h3, #about > .wrapper nav {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #BDBDBD;
}

.col-1-2 div:nth-child(3) p, .col-1-3 div p, #about section > header + p, blockquote p, #about .row div li {
	font-family: 'EB Garamond', serif;
	font-size: 18px;
	line-height: 25px;
}

.col-1-2 div:nth-child(3) {
	width: 400px;
	margin: 0 auto;
}

.col-1-2 > p:last-child {
	margin: 50px 0 80px;;
}

footer > div {
	background-color: #36B3AC;
	padding: 10px 0 8px;
}

footer > div ul {
	margin: 0;
}

footer > div li:first-child a {
	background-image: url("../img/social-fb.png");
}

footer > div li:nth-child(2) a {
	background-image: url("../img/social-flkr.png");
}

footer > div li:last-child a {
	background-image: url("../img/social-tw.png");
}

footer > div li:first-child a:hover {
	background-position: 0 -25px;
}

footer > div li:nth-child(2) a:hover {
	background-position: 0 -25px;
}

footer > div li:last-child a:hover {
	background-position: 0 -25px;
}

footer > div a {
	width: 25px;
	height: 25px;
}

footer > div li:nth-child(2) {
	margin: 0 10px;
}

address {
	background-color: #1F1F1F;
	padding: 30px 0 35px;
}

address a {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 2px;
}

address a:hover {
	color: #36B3AC;
}

address li:nth-child(2) {
	margin: 0 50px;
}

#about > section p, #action > section p {
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin-top: 80px;
}

#about > section {
	background-image: url("../img/bg-about.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -250px;
	height: 450px
}

#action > section {
	background-image: url("../img/bg-action.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -300px;
	height: 450px
}

footer {
	text-align: center;
}

#action .wrapper > header {
	width: 700px;
	margin: 0 auto;
}

.col-1-3 {
	width: 350px;
}

.col-1-3:nth-child(2) {
	margin: 0 60px;
}

#action > .wrapper .row {
	margin-bottom: 100px;
}

#about > .wrapper nav {
	width: 300px;
}

#about > .wrapper nav li, #about > .wrapper nav a {
	display: block;
}

#about > .wrapper nav li, #about > .wrapper nav p {
	margin-bottom: 2px;
}
	
#about > .wrapper nav a {
	color: #BDBDBD;
}

#about > .wrapper nav li:first-child {
	color: #1F1F1F;
}

#about > .wrapper nav a:hover {
	color: #36B3AC;
}

#about > .wrapper nav ul {
	padding: 0;
	margin-top: 0;
}

#about > .wrapper nav p {
	font-family: 'EB Garamond', serif;
	font-weight: 400;
	font-size: 17px;
	font-style: italic;
	text-transform: capitalize;
	margin: 0 0 2px;
	letter-spacing: normal;
	color: #36B3AC;
}

#about > .wrapper .row > div {
	width: 750px;
}

#about > .wrapper div div > header {
	padding-bottom: 40px;
}

#about h2, #action h2 {
	line-height: 45px;
}

#about h2 {
	margin-top: 0;
}

#about > .wrapper > .row {
	padding-top: 90px;
}

blockquote {
	padding: 50px 0 45px;
	margin: 0;
	border-top: 2px solid #BDBDBD;
	border-bottom: 2px solid #BDBDBD;
}

blockquote div {
	margin: 0 auto;
	width: 20px;
	height: 18px;
	background-image: url("../img/quotation-mark.png");
}

blockquote > p {
	font-size: 24px;
	line-height: 40px;
	margin-bottom: 10px;
}

blockquote footer p {
	font-size: 20px;
	margin-top: 0px;
	color: #BDBDBD;
}

#about .row div ul {
	column-count: 2;
	column-gap: 80px;
	margin-top: 0;
	padding: 0;
}

#about .row div li {
	display: block;
	hyphens: manual;
	break-inside: avoid;
	padding-left: 28px;
	background-image: url("../img/bullet-tree.png");
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

section:nth-child(4) {
	padding: 60px 0 90px;
}

/*ABOUT*/



/*ACTION*/




